@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>8750543390</span>
    </p>
    <p>
        <span class="label">second No</span>
        <span>7217847446</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:lodhideepk1998@gmail.com">lodhideepak1998@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="lodhideepak1998@gmail.com">lodhideepak1998@gmail.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@Bizon.com">GeneralBizon.com.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        It Is the  GR Noida (up) Bizon .com
        naer by dronacharya group of institute
        And landMark RSD hostel Greater Noida
        7217847446<br />
        
    </p>
</section>
 <head> 
     <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
  <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
 </head>